import java.awt.*;
import java.util.*;
import java.io.*;
import java.awt.image.*;
import javax.imageio.ImageIO;
import javax.swing.JFrame;
import javax.swing.WindowConstants;

public class Game{
   public static final int WIDTH = 624;
   public static final int HEIGHT = 663;
   
   public static void main(String args[]){
      JFrame frame = new JFrame();
      frame.setSize(624,663);
      frame.setDefaultCloseOperation(WindowConstants.EXIT_ON_CLOSE);
      frame.getContentPane().setBackground(Color.BLACK);
      frame.setVisible(true);
      
      Scanner console = new Scanner(System.in);
      System.out.print("Player: ");
      String player = console.next();
      
      Graphics g = frame.getGraphics();
      g.setColor(Color.BLUE);
      g.drawString("PLAYER : " + player.toUpperCase(), 8, 15);
      ArrayList<Integer> mushroom = new ArrayList<Integer>();
      mushroom(g, mushroom);
      g.drawString("SCORE :", 340, 15);
      //centipede(10, g);
   }
      public static void mushroom(Graphics g, ArrayList<Integer> mushroom){
      BufferedImage mushroomPic = null;
      try{
         mushroomPic = ImageIO.read(new File("Mushroom.png"));
      } 
      catch (IOException e) {
      }
      Random rand = new Random();
      for(int i = 0; i <= 90; i++){
         int x = rand.nextInt(WIDTH / 20) * 20;
         int y = rand.nextInt(HEIGHT / 20) * 20;
         if (y > 48 && y < 550){
            g.drawImage(mushroomPic, x, y, null);
            mushroom.add(x); //Saves x and y coordinates to ArrrayList, all even indexes will be x,
            mushroom.add(y); //all odd indexes will be y coordinates
         }
      }
   }
}
